/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT BASE */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* OCUPAR TODA LA PANTALLA */
html, body, #root {
  height: 100%;
  width: 100%;
}

/* BODY LIMPIO (SIN FLEX NI CENTRADO) */
body {
  margin: 0;
  background-color: #f3f4f6; /* fondo general del dashboard */
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BOTONES BASE */
button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}
